.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.body {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.siteNav {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.15));
  width: 100%;
  height: 90px;
  display: flex;
  position: sticky;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 490px;
  left: 0px;
  top: 0px;
  z-index: 1;
  flex-shrink: 0;
  padding: 31px 75px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .siteNav {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 500px) {
  .siteNav {
    min-width: 340px;
    height: 86px;
    flex-shrink: 0;
    padding: 17px 25px;
  }
}
.link__gv3VT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: none;
  padding: 0px;
}
.text___2XHis {
  display: block;
  font-size: 20.25px;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(32, 32, 32, 1);
  font-weight: 700;
}
@media (max-width: 500px) {
  .text___2XHis {
    font-size: 14.25px;
  }
}
.text__t75UL {
  position: relative;
  font-size: 13.5px;
}
@media (max-width: 500px) {
  .text__t75UL {
    font-size: 9.5px;
  }
}
.frame21 {
  flex-direction: row;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.frame21 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.frame21 > :global(.__wab_flex-container) > *,
.frame21 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame21 > :global(.__wab_flex-container) > picture > img,
.frame21
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (max-width: 500px) {
  .frame21 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .frame21 > :global(.__wab_flex-container) > *,
  .frame21 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame21 > :global(.__wab_flex-container) > picture > img,
  .frame21
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 0px;
  }
}
.link__t1HaS {
  display: block;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(32, 32, 32, 1);
  position: relative;
}
@media (max-width: 500px) {
  .link__t1HaS {
    font-size: 15px;
  }
}
.link__wojOi {
  opacity: 0.5;
  display: block;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(32, 32, 32, 1);
  position: relative;
}
@media (max-width: 500px) {
  .link__wojOi {
    font-size: 15px;
  }
}
.link__rvnpB {
  opacity: 0.5;
  display: block;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(32, 32, 32, 1);
  position: relative;
}
@media (max-width: 500px) {
  .link__rvnpB {
    font-size: 15px;
  }
}
.landingBannerAnimated:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .landingBannerAnimated:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .landingBannerAnimated:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.landingContent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 40px 0px 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .landingContent {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.workPosts {
  flex-direction: column;
  width: 50vw;
  height: auto;
  display: flex;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: none;
  flex-shrink: 0;
  padding: 10px 75px 20px;
  border-width: 1px;
  border-color: #cecece;
}
.workPosts > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 75px);
  height: calc(100% + 75px);
}
.workPosts > :global(.__wab_flex-container) > *,
.workPosts > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.workPosts > :global(.__wab_flex-container) > picture > img,
.workPosts
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 75px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .workPosts {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    min-width: 0;
    border-style: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .workPosts > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .workPosts {
    padding: 10px 25px 0px;
  }
}
.freeBox__uDiC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.postTitleContainer2 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.postTitleContainer2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.postTitleContainer2 > :global(.__wab_flex-container) > *,
.postTitleContainer2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.postTitleContainer2 > :global(.__wab_flex-container) > picture > img,
.postTitleContainer2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.postTitleInnerContainer2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 15px;
  padding: 0px 25px 3px 0px;
  border-bottom: 1px solid #939393;
}
.slotTargetChildren2 {
  font-size: 19px;
  font-weight: 600;
}
.contentfulFetcher__pSyCg:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 8px;
}
.link__iLi40 {
  position: relative;
  display: flex;
  flex-direction: row;
  color: #515151;
  margin-bottom: 5px;
}
.contentfulField__mt4Yv:global(.__wab_instance) {
  object-fit: cover;
  margin-right: 4px;
  font-size: 15px;
  font-weight: 600;
  color: #2b2b2b;
}
.text__pSbqM {
  font-size: 15px;
  color: #515151;
  margin-right: 4px;
  align-self: center;
}
.contentfulField___00Vn:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  align-self: center;
}
.text__lw04 {
  position: relative;
  font-size: 15px;
  color: #515151;
  margin-right: 4px;
  align-self: center;
}
.projectTypeContainer3 {
  flex-direction: row;
  background: rgba(32, 32, 32, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  border-radius: 4.069px;
  padding: 2px 4px;
}
.projectTypeContainer3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.projectTypeContainer3 > :global(.__wab_flex-container) > *,
.projectTypeContainer3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.projectTypeContainer3 > :global(.__wab_flex-container) > picture > img,
.projectTypeContainer3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.contentfulField__eqOq8:global(.__wab_instance) {
  object-fit: cover;
  font-size: 11.4px;
  color: #ffffff;
  max-width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}
.freeBox__yiskf {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
}
.tagContainer {
  flex-direction: row;
  width: auto;
  height: auto;
  display: flex;
  margin-right: 6px;
  border-radius: 11.07px;
  padding: 3px 8px;
  border: 1px solid currentcolor;
}
.tagContainer > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.tagContainer > :global(.__wab_flex-container) > *,
.tagContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tagContainer > :global(.__wab_flex-container) > picture > img,
.tagContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__sJ9Zh {
  font-size: 11px;
}
.postGroupOuterContainer {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
}
.postGroupOuterContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 74px);
  height: calc(100% + 74px);
}
.postGroupOuterContainer > :global(.__wab_flex-container) > *,
.postGroupOuterContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.postGroupOuterContainer > :global(.__wab_flex-container) > picture > img,
.postGroupOuterContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 74px;
}
.postGroupInnerContainer {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.postTitleContainer {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.postTitleContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.postTitleContainer > :global(.__wab_flex-container) > *,
.postTitleContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.postTitleContainer > :global(.__wab_flex-container) > picture > img,
.postTitleContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.postTitleInnerContainer {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 25px 3px 0px;
  border-bottom: 1px solid #939393;
}
.slotTargetChildren {
  font-size: 19px;
  font-weight: 600;
}
.postNavContainer {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  padding-top: 20px;
  align-self: flex-start;
}
.postNavContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 34px);
  height: calc(100% + 34px);
}
.postNavContainer > :global(.__wab_flex-container) > *,
.postNavContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.postNavContainer > :global(.__wab_flex-container) > picture > img,
.postNavContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 34px;
}
.postItem:global(.__wab_instance) {
  position: relative;
}
.contentfulFetcher__yp5F:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  object-fit: cover;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #535353;
}
.freeBox__xF52S {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.contentfulField__hd1Pn:global(.__wab_instance) {
  object-fit: cover;
  font-size: 15px;
  font-weight: 600;
  color: #2b2b2b;
  margin-right: 4px;
}
.freeBox__gZs6B {
  position: relative;
  display: flex;
  flex-direction: row;
}
.text__jq0A0 {
  font-size: 15px;
  color: #515151;
  margin-right: 4px;
}
.contentfulField__hr5BC:global(.__wab_instance) {
  object-fit: cover;
  font-size: 15px;
  color: #515151;
}
.text__albfV {
  position: relative;
  font-size: 15px;
  color: #515151;
  margin-right: 4px;
}
.projectTypeContainer2 {
  flex-direction: row;
  background: rgba(32, 32, 32, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  border-radius: 4.069px;
  padding: 2px 4px;
}
.projectTypeContainer2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.projectTypeContainer2 > :global(.__wab_flex-container) > *,
.projectTypeContainer2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.projectTypeContainer2 > :global(.__wab_flex-container) > picture > img,
.projectTypeContainer2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.contentfulField__ptrwa:global(.__wab_instance) {
  object-fit: cover;
  font-size: 11.4px;
  color: #ffffff;
  max-width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}
.postItem2:global(.__wab_instance) {
  position: relative;
}
.contentfulFetcher__q5EIg:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  object-fit: cover;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #535353;
}
.freeBox__uwbUw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.contentfulField__sfxca:global(.__wab_instance) {
  object-fit: cover;
  font-size: 15px;
  font-weight: 600;
  color: #2b2b2b;
  margin-right: 4px;
}
.freeBox__ihm0A {
  position: relative;
  display: flex;
  flex-direction: row;
}
.text__hhjr3 {
  font-size: 15px;
  color: #515151;
  margin-right: 4px;
}
.contentfulField__hv8GF:global(.__wab_instance) {
  object-fit: cover;
  font-size: 15px;
  color: #515151;
}
.text__iH0 {
  position: relative;
  font-size: 15px;
  color: #515151;
  margin-right: 4px;
}
.projectTypeContainer4 {
  flex-direction: row;
  background: rgba(32, 32, 32, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  border-radius: 4.069px;
  padding: 2px 4px;
}
.projectTypeContainer4 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.projectTypeContainer4 > :global(.__wab_flex-container) > *,
.projectTypeContainer4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.projectTypeContainer4 > :global(.__wab_flex-container) > picture > img,
.projectTypeContainer4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.contentfulField__bjZ07:global(.__wab_instance) {
  object-fit: cover;
  font-size: 11.4px;
  color: #ffffff;
  max-width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}
.postGroupInnerContainer2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.postTitleContainer3 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.postTitleContainer3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.postTitleContainer3 > :global(.__wab_flex-container) > *,
.postTitleContainer3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.postTitleContainer3 > :global(.__wab_flex-container) > picture > img,
.postTitleContainer3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.postTitleInnerContainer3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 25px 3px 0px;
  border-bottom: 1px solid #939393;
}
.slotTargetChildren3 {
  font-size: 19px;
  font-weight: 600;
}
.postNavContainer2 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  padding-top: 20px;
  align-self: flex-start;
}
.postNavContainer2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 34px);
  height: calc(100% + 34px);
}
.postNavContainer2 > :global(.__wab_flex-container) > *,
.postNavContainer2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.postNavContainer2 > :global(.__wab_flex-container) > picture > img,
.postNavContainer2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 34px;
}
.postItem3:global(.__wab_instance) {
  position: relative;
}
.contentfulFetcher__za62G:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  object-fit: cover;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #535353;
}
.freeBox__bt4N8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.contentfulField__nw6A:global(.__wab_instance) {
  object-fit: cover;
  font-size: 15px;
  font-weight: 600;
  color: #2b2b2b;
  margin-right: 4px;
}
.freeBox__hXaOt {
  position: relative;
  display: flex;
  flex-direction: row;
}
.text__gxUuy {
  font-size: 15px;
  color: #515151;
  margin-right: 4px;
}
.contentfulField__wRvDs:global(.__wab_instance) {
  object-fit: cover;
  font-size: 15px;
  color: #515151;
}
.text__jk7Sc {
  position: relative;
  font-size: 15px;
  color: #515151;
  margin-right: 4px;
}
.projectTypeContainer5 {
  flex-direction: row;
  background: rgba(32, 32, 32, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  border-radius: 4.069px;
  padding: 2px 4px;
}
.projectTypeContainer5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.projectTypeContainer5 > :global(.__wab_flex-container) > *,
.projectTypeContainer5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.projectTypeContainer5 > :global(.__wab_flex-container) > picture > img,
.projectTypeContainer5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.contentfulField__vmzf7:global(.__wab_instance) {
  object-fit: cover;
  font-size: 11.4px;
  color: #ffffff;
  max-width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}
.blogPosts {
  flex-direction: column;
  width: 50vw;
  height: auto;
  display: flex;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: none;
  flex-shrink: 0;
  padding: 10px 75px 20px;
  border-width: 1px;
  border-color: #cecece;
}
.blogPosts > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 75px);
  height: calc(100% + 75px);
}
.blogPosts > :global(.__wab_flex-container) > *,
.blogPosts > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.blogPosts > :global(.__wab_flex-container) > picture > img,
.blogPosts
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 75px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .blogPosts {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    min-width: 0;
    border-style: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .blogPosts > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .blogPosts {
    padding: 10px 25px 0px;
  }
}
.postGroupOuterContainer2 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
}
.postGroupOuterContainer2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 74px);
  height: calc(100% + 74px);
}
.postGroupOuterContainer2 > :global(.__wab_flex-container) > *,
.postGroupOuterContainer2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.postGroupOuterContainer2 > :global(.__wab_flex-container) > picture > img,
.postGroupOuterContainer2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 74px;
}
.postGroupInnerContainer3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.postTitleContainer5 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.postTitleContainer5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.postTitleContainer5 > :global(.__wab_flex-container) > *,
.postTitleContainer5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.postTitleContainer5 > :global(.__wab_flex-container) > picture > img,
.postTitleContainer5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.postTitleInnerContainer5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 25px 3px 0px;
  border-bottom: 1px solid #939393;
}
.slotTargetChildren5 {
  font-size: 19px;
  font-weight: 600;
}
.postNavContainer3 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  padding-top: 20px;
  align-self: flex-start;
}
.postNavContainer3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 34px);
  height: calc(100% + 34px);
}
.postNavContainer3 > :global(.__wab_flex-container) > *,
.postNavContainer3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.postNavContainer3 > :global(.__wab_flex-container) > picture > img,
.postNavContainer3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 34px;
}
.postItem4:global(.__wab_instance) {
  position: relative;
}
.contentfulFetcher__uy6I:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  object-fit: cover;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #535353;
}
.freeBox___3O16X {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.contentfulField__d55Jl:global(.__wab_instance) {
  object-fit: cover;
  font-size: 15px;
  font-weight: 600;
  color: #2b2b2b;
  margin-right: 4px;
}
.freeBox__gnHxn {
  position: relative;
  display: flex;
  flex-direction: row;
}
.text__d5FpA {
  font-size: 15px;
  color: #515151;
  margin-right: 4px;
}
.contentfulField__ht0Ru:global(.__wab_instance) {
  object-fit: cover;
  font-size: 15px;
  color: #515151;
}
.text__sajpz {
  position: relative;
  font-size: 15px;
  color: #515151;
  margin-right: 4px;
}
.projectTypeContainer7 {
  flex-direction: row;
  background: rgba(32, 32, 32, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  border-radius: 4.069px;
  padding: 2px 4px;
}
.projectTypeContainer7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.projectTypeContainer7 > :global(.__wab_flex-container) > *,
.projectTypeContainer7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.projectTypeContainer7 > :global(.__wab_flex-container) > picture > img,
.projectTypeContainer7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.contentfulField__mjfFk:global(.__wab_instance) {
  object-fit: cover;
  font-size: 11.4px;
  color: #ffffff;
  max-width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}
.postItem5:global(.__wab_instance) {
  position: relative;
}
.contentfulFetcher__r8Ju4:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  object-fit: cover;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #535353;
}
.freeBox__riCwu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.contentfulField__rJaEm:global(.__wab_instance) {
  object-fit: cover;
  font-size: 15px;
  font-weight: 600;
  color: #2b2b2b;
  margin-right: 4px;
}
.freeBox___1JxOu {
  position: relative;
  display: flex;
  flex-direction: row;
}
.text__dy8C9 {
  font-size: 15px;
  color: #515151;
  margin-right: 4px;
}
.contentfulField__aS8Xv:global(.__wab_instance) {
  object-fit: cover;
  font-size: 15px;
  color: #515151;
}
.text__hN9Ad {
  position: relative;
  font-size: 15px;
  color: #515151;
  margin-right: 4px;
}
.projectTypeContainer8 {
  flex-direction: row;
  background: rgba(32, 32, 32, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  border-radius: 4.069px;
  padding: 2px 4px;
}
.projectTypeContainer8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.projectTypeContainer8 > :global(.__wab_flex-container) > *,
.projectTypeContainer8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.projectTypeContainer8 > :global(.__wab_flex-container) > picture > img,
.projectTypeContainer8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.contentfulField__bVMb:global(.__wab_instance) {
  object-fit: cover;
  font-size: 11.4px;
  color: #ffffff;
  max-width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}
.postGroupInnerContainer4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.postTitleContainer6 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.postTitleContainer6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.postTitleContainer6 > :global(.__wab_flex-container) > *,
.postTitleContainer6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.postTitleContainer6 > :global(.__wab_flex-container) > picture > img,
.postTitleContainer6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.postTitleInnerContainer6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 25px 3px 0px;
  border-bottom: 1px solid #939393;
}
.slotTargetChildren6 {
  font-size: 19px;
  font-weight: 600;
}
.postNavContainer4 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  padding-top: 20px;
  align-self: flex-start;
}
.postNavContainer4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 34px);
  height: calc(100% + 34px);
}
.postNavContainer4 > :global(.__wab_flex-container) > *,
.postNavContainer4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.postNavContainer4 > :global(.__wab_flex-container) > picture > img,
.postNavContainer4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 34px;
}
.postItem6:global(.__wab_instance) {
  position: relative;
}
.contentfulFetcher__tzW0J:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  object-fit: cover;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #535353;
}
.freeBox__nFlpc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.contentfulField__k4Rnm:global(.__wab_instance) {
  object-fit: cover;
  font-size: 15px;
  font-weight: 600;
  color: #2b2b2b;
  margin-right: 4px;
}
.freeBox__mhByY {
  position: relative;
  display: flex;
  flex-direction: row;
}
.text___87Hic {
  font-size: 15px;
  color: #515151;
  margin-right: 4px;
}
.contentfulField__gmvpU:global(.__wab_instance) {
  object-fit: cover;
  font-size: 15px;
  color: #515151;
}
.text__v09Un {
  position: relative;
  font-size: 15px;
  color: #515151;
  margin-right: 4px;
}
.projectTypeContainer9 {
  flex-direction: row;
  background: rgba(32, 32, 32, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  border-radius: 4.069px;
  padding: 2px 4px;
}
.projectTypeContainer9 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.projectTypeContainer9 > :global(.__wab_flex-container) > *,
.projectTypeContainer9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.projectTypeContainer9 > :global(.__wab_flex-container) > picture > img,
.projectTypeContainer9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.contentfulField__r5L77:global(.__wab_instance) {
  object-fit: cover;
  font-size: 11.4px;
  color: #ffffff;
  max-width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}
