.tagContainer {
  flex-direction: row;
  width: auto;
  height: auto;
  display: inline-flex;
  position: relative;
  border-radius: 11.07px;
  padding: 3px 8px;
  border: 1px solid currentcolor;
}
.tagContainer > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.tagContainer > :global(.__wab_flex-container) > *,
.tagContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tagContainer > :global(.__wab_flex-container) > picture > img,
.tagContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text {
  font-size: 11px;
}
